NODE_ENV=local
PORT=4000

DB_HOSTNAME=
DB_PORT=5432
DB_USERNAME=
DB_PASSWORD=
DB_NAME=admin_service

APP_SECRET=
JWT_EXPIRES_IN=8h

AUTH_SERVICE_URL=
RETAIL_SERVICE_URL=
EMPLOYEE_SERVICE_URL=
PAYROLL_SERVICE_URL=
RESTAURANT_SERVICE_URL=
CHECKLIST_SERVICE_URL=

INTERNAL_SERVICE_KEY=

CORS_ORIGIN=
